
<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><strong>Sign in </strong></h3></div>
        <div class="panel-body">
            <%= form_for(:session, :url =>  sessions_path ) do |f| %>
                <div class="form-group">
                    <%= f.label :email%>
                    <%= f.text_field :email, :class => "form-control"%>
                </div>
                <div class="form-group">
                    <div class="field">
                    <%= f.label :password%> <span>Forgotten <%= link_to "Password?", "#", :onclick => "$('#new_link_modal').modal('show');" %> </span>
                    <%= f.password_field :password, :class => "form-control"%>
                </div>
                <button type="submit" class="btn btn-sm btn-default">Sign in</button>
            <% end %>
         </div>
     </div>
    </div>
  <p> Not a member yet? <%= link_to "Sign up now", signup_path %></p>
</div>




<div id="new_link_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="grey_text centered">
          <a class="icon-cancel right_padding left" data-dismiss="modal"></a>
          Password recovery</h3>
      </div>
      <div class="modal-body">
        <p>Enter your account email address.</p>

            <%= form_tag("/users/send_password_recovery", :method => "post") do %>
            <div class="field">
            <%= text_field_tag(:email) %>
            <%= submit_tag("Go") %>
            </div>
            <% end %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->